@font-face
{
    font-family: "title";
    src: url(/Fonts/title.ttf); /*for github testing*/
}

@font-face
{
    font-family: "ui";
    src: url(Fonts/ui.ttf); /*for github testing*/
}

@font-face
{
    font-family: "body";
    src: url(/Fonts/body.ttf); /*for github testing*/
}

@font-face
{
    font-family: "body";
    src: url(/Fonts/body-italic.ttf); /*for github testing*/
    font-style: italic;
}

html
{
    background-color: var(--border);
    cursor: crosshair;
}

body
{
    margin: 0;
    background-color: var(--background);
    transition: background-color 1.8s linear;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#eyeCursor
{
    /* transition: all 0.2s linear; */
}

#webgazerGazeDot
{
    opacity: 0 !important;
}

#webgazerVideoFeed, #webgazerFaceOverlay
{
    top: calc(50% - 120px) !important;
    left: calc(50% - 160px) !important;
    display: none !important;
}

#webgazerFaceFeedbackBox
{
    top: calc(50% - 79.2px) !important;
    left: calc(50% - 79.2px) !important;
    display: none !important;
}

#webgazerVideoFeed.show, #webgazerFaceOverlay.show, #webgazerFaceFeedbackBox.show
{
    display: block !important;
    transform: scaleX(-1);
    z-index: 9999;
}

#brightness
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
    pointer-events: none;
    z-index: 2000;
}

.border
{
    position: fixed;
    background-color: var(--border);
    width: 45px;
    height: 45px;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color: var(--foreground);
}

.target.hover .border
{
    transition: all 0.3s ease;
    width: 70px;
    height: 70px;
}

.border div
{
    opacity: 0;
    line-height: 70px;
    position: absolute;
    transition: all 0.2s ease;
    font-family: "ui";
    letter-spacing: 0.5px;
    font-size: 0.9rem;
}

.target.hover div div
{
    opacity: 0.7;
}

.border.top, .target.top
{
    top: 0;
    left: 0;
    width: 100% !important;
    animation: border-in-hor 0.4s ease-in, border-opac 0.6s linear;
    animation-delay: 0.5s, 0s;
}

.border.top div
{
    top: 0;
    width: 100%;
    text-align: center;
}

@keyframes border-opac
{
    0%
    {
        opacity: 0;
    }

    99%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

.border.right, .target.right
{
    top: 0;
    right: 0;
    height: 100% !important;
    animation: border-in-vert 0.4s ease-in, border-opac 0.5s linear;
    animation-delay: 0.5s, 0s;
}

.border.right div
{
    top: calc(50vh - 40px);
    right: 0;
    width: 50px;
    transform: rotate(90deg);
}

.border.bottom, .target.bottom
{
    bottom: 0;
    left: 0;
    width: 100% !important;
    animation: border-in-hor 0.4s ease-in, border-opac 0.5s linear;
    animation-delay: 0.5s, 0s;
}

.border.bottom div
{
    bottom: 0;
    width: 100%;
    text-align: center;
}

.border.left, .target.left
{
    top: 0;
    left: 0;
    height: 100% !important;
    animation: border-in-vert 0.4s ease-in, border-opac 0.5s linear;
    animation-delay: 0.5s, 0s;
}

.border.left div
{
    top: calc(50vh - 25px);
    width: 50px;
    left: 0;
    transform: rotate(-90deg);
}

.target
{
    width: 70px;
    height: 70px;
    outline: none;
    animation: none;
    position: absolute;
}

div.border.transition
{
    height: 100% !important;
    width: 100% !important;
    z-index: 1000 !important;
    transition: all 0.5s ease !important;
}

.film
{
    position: absolute;
    padding: 50px;
    max-width: 150px;
    min-width: 150px;
    height: 225px;
    max-height: 225px;
    overflow: hidden;
    transition: min-width 0.1s linear 0.4s;
}

.film img
{
    width: 150px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.5) -1px 3px 8px 0px, 1px 3px 9px 0px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
}

.film .text
{
    float: right;
    width: 200px;
    margin: 30px 20px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms cubic-bezier(0.335, 0.01, 0.03, 1.36);
}

.film h2
{
    font-size: 20px;
    margin-bottom: 0;
    font-family: "title";
    color: var(--foreground-color);
}

.film p
{
    font-family: "body";
    font-size: 12px;
    line-height: 1.2rem;
    text-align: justify;
    color: var(--foreground-color);
}

.film .stars
{
    animation-delay: 0.3s !important;
    animation-duration: 0.8s !important;
    color: var(--star-color) !important;
}

.film .sub-text
{
    display: inline-block;
}

.film.hover
{
    z-index: 99;
    width: auto;
    transition: none;
    min-width: 400px;
}

.film.hover img
{
    transform: scale(1.02);
    z-index: 100;
    position: relative;
}

.film.hover .text
{
    opacity: 1;
    visibility: visible;
}

.film.hover .sub-text
{
    opacity: 0;
    animation: text-in 0.6s ease;
    animation-fill-mode: forwards;
}

#content.transition-top div.film, #content.transition-top div.setting-container, #content.transition-top div.app
{
    transform: translateY(200px);
    opacity: 0.4;
    transition: all 0.6s ease;
}

#content.transition-right div.film, #content.transition-right div.setting-container, #content.transition-right div.app
{
    transform: translateX(-200px);
    opacity: 0.4;
    transition: all 0.6s ease;
}

#content.transition-bottom div.film, #content.transition-bottom div.setting-container, #content.transition-bottom div.app
{
    transform: translateY(-200px);
    opacity: 0.4;
    transition: all 0.6s ease;
}

#content.transition-left div.film, #content.transition-left div.setting-container, #content.transition-left div.app
{
    transform: translateX(200px);
    opacity: 0.4;
    transition: all 0.6s ease;
}

#content.transition-top.in div.film, #content.transition-top.in div.setting-container, #content.transition-top.in div.app
{
    transform: translateY(-100px);
    opacity: 0;
    animation: film-in 0.4s ease;
    animation-fill-mode: forwards;
}

#content.transition-right.in div.film, #content.transition-right.in div.setting-container, #content.transition-right.in div.app
{
    transform: translateX(100px);
    opacity: 0;
    animation: film-in 0.4s ease;
    animation-fill-mode: forwards;
}

#content.transition-bottom.in div.film, #content.transition-bottom.in div.setting-container, #content.transition-bottom.in div.app
{
    transform: translateY(100px);
    opacity: 0;
    animation: film-in 0.4s ease;
    animation-fill-mode: forwards;
}

#content.transition-left.in div.film, #content.transition-left.in div.setting-container, #content.transition-left.in div.app
{
    transform: translateX(-100px);
    opacity: 0;
    animation: film-in 0.4s ease;
    animation-fill-mode: forwards;
}

#play-icon
{
    width: 50px;
    height: 50px;
    pointer-events: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border-radius: 100%;
    padding: 20px;
    opacity: 0;
    transform: scale(2);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

#play-icon.show
{
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.1s ease-in, transform 0s linear;
}

.sub-text.a
{
    animation-delay: 0.1s !important;
}

.sub-text.b
{
    animation-delay: 0.17s !important;
}

.sub-text.c
{
    animation-delay: 0.24s !important;
    animation-duration: 0.7s !important;
}

.setting-container
{
    background-color: var(--border);
    width: calc(100% - 500px);
    height: 200px;
    border-radius: 800px;
    margin: 0 250px;
    display: grid;
    grid-template-columns: 1fr calc(100% - 400px) 1fr;
    grid-template-rows: 1fr;
}

.setting-option
{
    background-color: var(--foreground-color);
    border-radius: 100%;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 40rem;
    transition: all 0.5s ease;
}

.setting-option.hover
{
    box-shadow: 0px 5px 17px 2px rgba(0, 0, 0, 0.25), 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.setting-option .material-icons
{
    font-size: 60px !important;
    line-height: 190px !important;
    color: var(--background) !important;
    transition: all 0.3s ease;
}

.setting-option.hover .material-icons
{
    color: var(--border) !important;
}

.setting-title
{
    width: 100%;
    text-align: center;
    line-height: 200px;
    font-family: "ui";
    font-size: 20px;
    color: var(--foreground);
}

#calibrator
{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--border);
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    cursor: crosshair;
    align-items: center;
    place-items: center;
    grid-row-gap: calc(30vh - 30px);
    grid-column-gap: calc(30vw - 30px);
}

#calibrator.show
{
    display: grid;
}

.cali-bttn
{
    width: 30px;
    height: 30px;
    background-color: var(--background);
    border-radius: 100%;
    border: 2px solid transparent;
    transition: border-color 0.2s linear;
    justify-self: center;
    align-self: center;
    place-self: center;
}

.cali-bttn:hover
{
    border-color: var(--foreground-color);
    animation: pulse 1s infinite;
}

#eyebutton
{
    height: 167px;
    width: 400px;
    background-image: url(assets/EyeButton.png); 
    transition: background-image 0.3s linear;
}

.static-border-right
{
    position: fixed;
    background-color: var(--border);
    width: 20px;
    height: 20px;
    overflow: hidden;
    color: var(--foreground);
    top: 0;
    right: 0;
    height: 100% !important;
    animation: border-in-vert 0.4s ease-in, border-opac 0.5s linear;
    animation-delay: 0.5s, 0s;
}

.static-border-left
{
    position: fixed;
    background-color: var(--border);
    width: 20px;
    height: 20px;
    overflow: hidden;
    color: var(--foreground);
    top: 0;
    left: 0;
    height: 100% !important;
    animation: border-in-vert 0.4s ease-in, border-opac 0.5s linear;
    animation-delay: 0.5s, 0s;
}

.tutorial 
{
    text-align: center;
    height: 30%; 
    padding: 20px;
    margin: 20px;
}

.sub-text .material-icons
{
    font-size: 14px;
    transform: translateY(2px);
}

.app
	{
        position: absolute;
        top: calc(50% - 270px);
	    border-radius: 100%; 
	    width: 200px; 
	    left: calc(50% - 100px); 
	    transition: all 0.3s ease;
	}
	
.app.hover
{
    background: var(--border);
}

.movie-title
{
    width: 200px;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
}

.app-letter
{
    transform: translateY(-120px); 
    opacity: 0;
    transition: all 0.2s ease;
    display: inline-block;
}

.app.hover .app-letter
{
    transform: translateY(-90px); 
    opacity: 1;
}

@keyframes film-in
{
    100%
    {
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}

@keyframes pulse
{
    0% {box-shadow: 0 0 0 0 var(--background);background-color: var(--background);}
    70% {box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);background-color: var(--foreground-color);}
    100% {box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);background-color: var(--background);}
}

@keyframes text-in
{
    0%
    {
        transform: translateX(-150px);
        opacity: 0;
    }

    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes border-in-vert
{
    0%
    {
        opacity: 1;
        width: 0px;
    }

    100%
    {
        opacity: 1;
        width: 20px;
    }
}

@keyframes border-in-hor
{
    0%
    {
        opacity: 1;
        height: 0px;
    }

    100%
    {
        opacity: 1;
        height: 20px;
    }
}

.test
{
    background: rgba(255, 192, 203, 0.6) !important;
    border: 2px dashed red !important;
}


